<div class="title text-center pt-3">
  <h3>ZIMA</h3></div>

<figure class="p-1">
  <img src="../src/app/images/winter.jpg" class="img-thumbnail img-fluid mx-auto d-block" width="700" height="100">

</figure>

<article class="p-3 text-justify">

  <h6>CHARAKTERYSTYKA ZIMY</h6>
  <p>
    Zima reprezentuje kolory chłodne, intensywne i czyste. Pasują do niej wszelkie kontrasty (to jedyny typ, który
    wygląda świetnie w połączeniu bieli z czernią),
    wyraziste wzory i graficzne formy.
  </p>

  <h6>Cera: </h6>
  <p>z chłodna: porcelanowa, jasna, różano-błękitna, źle reagująca na słońce lub oliwkowa, w odcieniu chłodnego brązu,
    która łatwo się opala
  </p>

  <h6>Oczy:</h6>
  <p> białka zimne, wyraziste, silnie kontrastujące z tęczówką. Kolor oczu nasycony w odcieniach lodowego błękitu,
    granatu,
    ciemnej zieleni, mocnego brązu, a nawet czerni. </p>
  <h6>Włosy: </h6>
  <p>od popielatego brązu po kruczoczarny, zawsze w chłodnej szaro-granatowej tonacji. Mocna oprawa oka - ciemne brwi i
    rzęsy.
    Rzadko zdarzają się zimy z włosami w kolorze chłodnego, platynowego blondu.</p>
  <h6>Usta:</h6>
  <p>dość intensywna, chłodna czerwień wargowa</p>

</article>

