<div class="title text-center pt-3">
  <h3>WIOSNA</h3></div>


<figure class="p-1">
  <img src="../src/app/images/spring.jpg" class="img-thumbnail img-fluid mx-auto d-block" width="700" height="200">
</figure>

<article class="p-3 text-justify">

  <h6 class="">CHARAKTERYSTYKA WIOSNY</h6>

  <p class="">Wiosna reprezentuje kolory ciepłe, czyste i delikatne. Pasują do niej "świeże" kolory podkreślające
    naturalny blask
    skóry i włosów.</p>

  <h6>Cera: </h6>
  <p>zabarwienie lekko żółtawe, brzoskwioniowe, złloto-beżowe. Opalenizna złocisto-brązowa. Cechą charakterystyczną są
    często

    występujące piegi. Skóra wiosny jest delikatna, wrażliwa, zarumieniona.</p>

  <h6>Oczy:</h6>
  <p>kolory mało intensywne, ale czyste: turkusowe,zielonkawe, niebieskie, złoto-brązowe. Mogą pojawiać się złote lub
    brązowe plamki.</p>


  <h6>Włosy: </h6>
  <p> Najczęściej blond, złocisty, słomkowy lub rudawy. Włosy jasno lub średnio brązowe zawsze mają ciepłe zabarwienie.
    Mogą pojawiać się naturalne, złociste pasemka.</p>

  <h6>Usta:</h6>
  <p> ciepła, delikatna czerwień wargowa.</p>
</article>

