<div class="title text-center pt-3"><h3>JESIEŃ</h3></div>


<figure class="p-1">
  <img src="../src/app/images/autumn.jpg" class="img-thumbnail img-fluid mx-auto d-block" width="700" height="200">
</figure>

<article class="p-3 text-justify">

  <h6>CHARAKTERYSTYKA JESIENI</h6>

  <p> Jesień ogólnie odnajduje się w tonacji ciepłej nienasyconej, a komponuje ze złamaną, rozmytą i pastelową
    kolorystyką, choć
    wybrane typy jesieni szczególnie pięknie wyglądają również w bogatych, królewskich barwach.</p>


  <h6>Cera: </h6>
  <p>zwykle jasna i wrażliwa, koloru kości słoniowej, kremowej lub brzoskwiniowej, często z widocznymi naczynkami i
    tendencją do tworzenia się „pajączków” i czerwienienia.
    Może posiadać piegi o rudawym odcieniu
    lub pieprzyki o ciepłej barwie. Nie toleruje słońca, w związku z czym jest szczególnie narażona na poparzenia
    słoneczne, trudno się opala, a opalenizna zwykle utrzymuje się dość krótko.
    Narażona na przebarwienia.</p>


  <h6>Oczy:</h6>
  <p> brązowe, piwne, orzechowe, bursztynowe, rudawe, zielone, szare, niebiesko-szare, często ze złocistymi
    plamkami. </p>

  <h6>Włosy: </h6>
  <p> rude, kasztanowe, złote brązy i blondy, niezależnie od koloru posiadają ciepłe refleksy.</p>

  <h6>Usta:</h6>
  <p> najczęściej w intensywnym czerwonym kolorze lub w odcieniu wpadającym w pomarańcz lub bordo.</p>

</article>
