<header class="container-fluid">
  <div class="row">
    <div class="col-12">

      <h1 class="text-center">Jaki masz typ urody?</h1>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="row flex">
    <nav class="col-12 col-sm-2 " *ngIf="'/color-test'!==currentRoute">
      <ul class="nav flex-column">
        <li class="nav-item pt-3 text-center">
          <a class="nav-link active " routerLink="/">Home</a>
        </li>
        <li class="nav-item pt-3">
          <a class="nav-link text-center" routerLink="/spring">Wiosna</a>
        </li>
        <li class="nav-item pt-3">
          <a class="nav-link text-center" routerLink="/summer">Lato</a>
        </li>
        <li class="nav-item pt-3 text-center">
          <a class="nav-link " routerLink="/autumn">Jesień</a>
        </li>
        <li class="nav-item pt-3">
          <a class="nav-link text-center" routerLink="/winter">Zima</a>
        </li>
        <li class="nav-item pt-3 pb-3 pb-sm-0">
          <a class="nav-link text-center" routerLink="/color-test">Test kolorystyczny</a>
        </li>
      </ul>
    </nav>
    <div class=" col-12 col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer class="container-fluid" *ngIf="'/color-test'!==currentRoute">
  <div class="row">
    <div class="col-12">
      <div class="back"></div>
      <div class="heart"></div>
    </div>
  </div>
</footer>
