<div class="title text-center pt-3"><h3>LATO</h3></div>

<figure class="p-1">
  <img src="../src/app/images/summer.jpg" class="img-thumbnail img-fluid mx-auto d-block " width="700" height="200">

</figure>

<article class="p-3 text-justify">

  <h6>CHARAKTERYSTYKA LATA</h6>

  <p> Lato reprezentuje kolory chłodne, delikatne i zgaszone. To kolory "wypalone" słońcem, wyblakłe i stonowane,
    pastelowe.</p>
  <h6>Cera: </h6>
  <p> delikatna, blado-różowa, blado-beżowa, szarawa, często wrażliwa na słońce i ze skłonnością do naczynek.
    Opalenizna szarawa, lub szaro-zielona (nigdy ciepła, złocista) , jeśli występują piegi, to również mają chłodny
    szaro-brązowy odcień.</p>

  <h6>Oczy:</h6>
  <p> białka zimne, szarawe, niebieskawe. Tęczówki chłodne - odcienie szarości, niebieskiego, chłodnej zieleni,
    jasnobrązowe.</p>

  <h6>Włosy: </h6>
  <p> charakterystyczny, "mysi" blond lub brąz, platynowe blondynki, popielata tonacja włosów, bez ciepłych
    refleksów.</p>

  <h6>Usta:</h6>
  <p> czerwień wargowa delikatna, różowawa, rozmyty kontur.</p>
</article>


